@page "/Combos/Index"
@inject ComboService comboService
@rendermode InteractiveServer
@inject NavigationManager navigationManager


<EditForm Model="combo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <PageTitle>Registrar combo</PageTitle>

    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h3 class="mb-0 fw-bold">Registrar Combo</h3>
            </div>

            <div class="card-body">
                @* Combo Id *@
                <div class="mb-3">
                    <label for="ComboId" class="col-form-label"><strong>Combo Id:</strong></label>
                    <div class="input-group">
                        <InputNumber @bind-Value="combo.ComboId" class="form-control" />
                        <button class="btn btn-outline-primary" type="button" @onclick="Buscar">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

                @* Arituclo Id*@
                <div class="mb-3">
                    <label for="Arituclo" class="col-form-label"><strong>Arituclo:</strong></label>
                    <InputSelect @bind-Value="cobro.ArticuloId" class="form-select">
                        <option value="0">Seleccione un articulo</option>
                        @foreach (var articulo in listaarticulo)
                        {
                            <option value="@combo.ComboId">@combo.Articulo</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => cobro.ArticuloId)" />
                </div>

                @* Precio *@
                <div class="mb-3">
                    <label for="Precio" class="col-form-label"><strong>Precio:</strong></label>
                    <InputNumber @bind-Value="cobro.Precio" class="form-control" />
                    <ValidationMessage For="@(() => cobro.Precio)" />
                </div>
            </div>

            @* Vendido *@
            <div class="mb-3">
                <label for="Vendido" class="col-form-label"><strong>Vendido:</strong></label>
                <InputNumber @bind-Value="cobro.Vendido" class="form-control" />
                <ValidationMessage For="@(() => cobro.Vendido)" />
            </div>
        </div>

            @* Detalles del Combo *@
            <div class="card mt-4 border-success">
                <div class="card-header">
                    <h3 class="mb-0 fw-bold">Combo Detalle</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                  